.layout {
  display: flex;
  min-height: 100vh;
  background-color: #EBEEF5;
}

.layout-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 280px;
}

.main-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

